<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        {% for objeto in objetos %}
            <ol> 
                <li>{{objeto.nombre}}</li>
                <li>{{objeto.dni}}</li>
                <li>{{objeto.fecha_nac}}</li>
                <li>{{objeto.parentezco}}</li>

            </ol>
        {% endfor %}

    </h1>



</body>

</html>