<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Familiares:</h1>

        {% for objeto in objetos %}
            <ul style="list-style: none;"> 
                <li>Nombre: {{objeto.nombre}}</li>
                <li>DNI: {{objeto.dni}}</li>
                <li>Fecha de Nacimiento: {{objeto.fecha_nac}}</li>
                <li>Parentezco: {{objeto.parentezco}}</li>
            </ul>
        {% endfor %}

    



</body>

</html>